<div class=""  style="margin-left: 270px;margin-bottom: 100px; width: 740px;height: 150px; border: solid 1px gray; padding-top: 30px;padding-left: 30px;">
 <a class=" btn-danger" style="background-color: orangered;margin-right :5px;border-radius: 5px;">Yêu thích +</a>
 <b>Săn tìm hàng độc</b>
  <button type="submit"  style="height: 32px ; color: white; margin-left :5px ;background-color: orangered;border: none;border-radius: 5px;"> <i  class="material-icons">forum</i><b>Chat</b></button>
   <i style="float: right;color: #0dcaf0">{{data.statusname}}</i><i class="material-icons "style="float: right; color: #0dcaf0">local_shipping</i>
  <form class="mt-3">
    <div>
      <div *ngFor=" let item of Orderdata">
        <div >
          <img src="https://iweb.tatthanh.com.vn/pic/12/news/cach-khu-mui-hoi-giay-da-bong.jpg" style="float: left ; width: 100px; margin-right: 5px;border-style: groove ; ">
        </div>
          <div>
            <label>{{item.productName}}</label> <br>
            <label>Phân loại hàng : Danh mục :{{item.category_name}}-Hãng : {{item.brand_name}}  </label> <br>
            <label> x{{item.quantity}}</label>
            <label style="color: orangered"> <del style="font-size: 14px; color: #5d6c85 "> ₫1.000.000</del>₫{{item.price}}</label>
          </div>



      </div>
    </div>
    <div mat-dialog-actions>
      <button class="btn btn-info" type="submit" mat-raised-button color="primary" cdkFocusInitial>Ok</button>
    </div>
  </form>
</div>
