<div class="container mt-5 text-center">
  <div class="row ">
    <h2>Danh sách </h2>
    <hr>
    <div class="row">
      <div class="col-2">
        <select class="form-select " aria-label="Default select example">
          <option selected>Tính năng này đang đc phát triển</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="col-10">

        <input type="text" class="col-9 m-md-3" placeholder="Tính năng này đang đc phát triển" aria-label="Username"
               aria-describedby="basic-addon1">


        <button class="col-2 btn btn-danger">Tìm kiếm</button>
      </div>


    </div>
    <h4>..Đơn hàng</h4>
    <div class="col-12 table-responsive" style="border-radius: 15px; height: auto">

      <table class="table table-bordered  table-hover mt-2" style="height: 50px ; font-size: 14px">
        <thead class="table-dark" mat-table matSort >
        <tr>
          <th >STT</th>
          <th>Thao tác</th>

          <th>Người đặt</th>
          <th>Ngày đặt</th>
          <th>Giá</th>
          <th>Địa chỉ</th>
          <th>Hình thức thanh toán</th>

          <th>Ghi chú</th>
          <th>Trạng thái</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of orderdata.content" let index>

          <td>{{item.id}}</td>
          <td>

            <a class="view" title="View" data-toggle="tooltip"
               (click)="OpenDialog('1000ms','500ms',item.id,item.statusName )"><i class="material-icons">play_arrow</i></a>

          </td>
          <td>{{item.name_acount}}</td>
          <td>{{item.create_date}}</td>
          <td>{{item.price}}</td>
          <th>{{item.address}}</th>
          <th><a class="btn-dark " style="border-radius: 5px; font-size: 12px; color: white;background-color:blue">Đang
            phát triển</a></th>
          <td>{{item.note}}</td>
          <td>
<span *ngIf="item.status ==0">
           <a class="btn-dark "
              style="border-radius: 5px; font-size: 12px; color: white;background-color:orangered">{{item.statusName}}</a>
</span>
            <span *ngIf="item.status ==1">
           <a class="btn-dark "
              style="border-radius: 5px; font-size: 12px; color: white;background-color:blue">{{item.statusName}}</a>
</span>
            <span *ngIf="item.status ==2">
           <a class="btn-dark "
              style="border-radius: 5px; font-size: 12px; color: white;background-color:#70bf73">{{item.statusName}}</a>
</span>
            <span *ngIf="item.status ==3">
           <a class="btn-dark "
              style="border-radius: 5px; font-size: 12px; color: white;background-color:red">{{item.statusName}}</a>
</span>
          </td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>

  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

  </mat-paginator>
</div>





