<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="card" style="margin-left: 270px;">
  <div class="row mx-2">
      <!--      <ng-template #content1 let-modal>-->
      <div class="row">
        <h2 class="container-fluid text-center lead fw-normal" style="color: #3c763d">Chi tiết sản phẩm</h2>
        <!--          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
      </div>
      <div class="row">

        <div class="row ml-3">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Tên sản phẩm:</label>
              <div class="col-md-10">
                <p>{{product.name}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Giá bán:</label>
              <div class="col-md-10">
                <p>{{product.outputprice}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Danh mục:</label>
              <div class="col-md-10">
                <p>{{product.category!.name}}</p>
              </div>
            </div>


          </div>
          <div class="col-6">


            <div class="form-group row">
              <label class="col-md-4 col-form-label">Hãng:</label>
              <div class="col-md-10">
                <p>{{product.hang!.name}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Loại đinh:</label>
              <div class="col-md-10">
                <p>{{product.sole!.name}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Dòng giày:</label>
              <div class="col-md-10">
                <p>{{product.shoeLine!.name}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row ml-3">
        <div>
          <button class="btn btn-primary  ml-1" (click)="openLg(content)">Thêm mới</button>
        </div>
      </div>
      <!--      </ng-template>-->
  </div>
</div>

<div class="card mt-3" style="margin-left: 260px;">
  <table class="table table-hover table-responsive table-bordered">
    <thead>
    <tr>
      <th class="text-center" scope="col">STT</th>
      <th class="text-center" scope="col">Size</th>
      <th class="text-center" scope="col" >Màu</th>
      <th class="text-center" scope="col" >Số lượng</th>
      <th class="text-center" scope="col">Thao tác</th>
    </tr>
    </thead>
    <tbody *ngIf="datas">
    <tr *ngFor="let item of datas; let i = index" >
      <td>{{i+1}}</td>
      <td *ngIf="item.size">{{item.size.value}}</td>
      <td *ngIf="item.mau">{{item.mau.name}}</td>
      <td>{{item.quantity}}</td>
      <td>
        <a (click)="infoProduct(item.id,content)">Sửa</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>

<!--              Pagination                -->
<nav *ngIf="Page" class="mr-3 mb-8" aria-label="...">
  <ul class="pagination justify-content-end">
    <select #selectSize (change)="pageItem(selectSize.value)" class="page-items mr-1 me-3">
      <option selected>5</option>
      <option>10</option>
      <option>15</option>
    </select>
    <li class="page-item " [ngClass]="indexPage == 0?'disabled':''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-caret-left-fill page-link" viewBox="0 0 16 16" (click)="preNextPage('pre')">
        <path
          d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
    </li>

    <li *ngFor="let pageNumber of [].constructor(Page['totalPages']);let i = index"
        class="page-item" [ngClass]="indexPage == i?'active':''">
      <a style="color:black ;" class="page-link" (click)="pagination(i)">{{i + 1}}</a>
    </li>

    <li class="page-item" [ngClass]="(Page['totalPages'] - 1) === indexPage?'disabled':''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-caret-right-fill page-link" viewBox="0 0 16 16">
        <path
          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
          (click)="preNextPage('next')"/>
      </svg>
    </li>
  </ul>
</nav>

<form novalidate  [formGroup]="formAdd">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="container-fluid text-center lead fw-normal" style="color: #3c763d">{{message}} sản phẩm</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Size: </label>
            <div class="col-md-10 mt-2">
              <div>
                <select class="form-control" formControlName="size">
                  <option *ngFor="let item of dataSize" [value]="item.id">{{item.value}}
                  </option>

                </select>

                <small class="col alert text-danger" role="alert"
                       *ngIf="formAdd.get('size')?.errors?.required && formAdd.get('size')?.touched">
                  Size chưa được chọn !
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Màu: </label>
            <div class="col-md-10 mt-2">
              <div>
                <select class="form-control" formControlName="mau">
                  <option *ngFor="let item of dataColor" [value]="item.id">{{item.name}}
                  </option>

                </select>

                <small class="col alert text-danger" role="alert"
                       *ngIf="formAdd.get('mau')?.errors?.required && formAdd.get('mau')?.touched">
                  Màu chưa được chọn !
                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 col-form-label">Số lượng:</label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="quantity">
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button [hidden]="!hidden" type="button" class="btn btn-success" type="submit" (click)="create()"  >Thêm mới</button>
        </div>
        <div *ngIf="!hidden" >
          <button type="button" class="btn btn-success" type="submit" (click)="update()"  >Cập nhật</button>
        </div>
        <div *ngIf="!hidden">
          <button type="button" class="btn btn-danger" type="submit" (click)="delete()"  >Xóa</button>
        </div>
      </div>
  </ng-template>
</form>

