<div style="overflow-y: hidden;">
  <app-navbar></app-navbar>
  <app-side-bar></app-side-bar>
  <nav class="navbar navbar-expand-lg navbar-light bg-light " style="border-radius: 10px;"
       style="margin-left: 280px;overflow-y: hidden;">
    <div class="container-fluid">

      <div class="collapse navbar-collapse justify-content-center mt-3 " id="navbarNav">
        <ul class="nav justify-content-center nav-pills" id="navbar1">
          <li class="nav-item px-3">
            <a class="btn btn-danger nav-link " (click)="loadAll('')"
            >Tất cả</a>
          </li>
          <li class="nav-item px-3">
            <a class="btn btn-danger position-relative nav-link" aria-current="page"
               (click)="loadAll('0')">Đơn đặt hàng
            </a>
          </li>
          <li class="nav-item px-3">
            <a class="btn btn-danger nav-link" (click)="loadAll('1')">Đóng gói chuẩn bị
              hàng</a>
          </li>
          <li class="nav-item px-3">
            <a class="btn btn-danger nav-link" (click)="loadAll('2')">Đang giao</a>
          </li>
          <li class="nav-item px-3">
            <a class="btn btn-danger nav-link" (click)="loadAll('3')">Đã giao</a>
          </li>
          <li class="nav-item px-3">
            <a class="btn btn-danger nav-link" (click)="loadAll('7')">Đơn tại quầy</a>
          </li>
          <li class="nav-item px-3">
            <a class="btn btn-danger nav-link" (click)="loadAll('4')">Đã hủy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div style="margin-left: 280px;overflow-x: hidden;">
    <div class=" mt-5" style="overflow-x: hidden;">
      <div class="row">
        <h2 class="text-center">Danh sách </h2>
        <hr>
        <div class="row">
          <!--      <div class="col-2">-->
          <!--        <select class="form-select mt-3" aria-label="Default select example">-->
          <!--          <option selected>Tính năng này đang đc phát triển</option>-->
          <!--          <option value="1">One</option>-->
          <!--          <option value="2">Two</option>-->
          <!--          <option value="3">Three</option>-->
          <!--        </select>-->
          <!--      </div>-->


            <div class="form-group row">
              <input type="text" class="col-4 ms-3" placeholder="Tên khách hàng" [(ngModel)]="keyword"
                     aria-describedby="basic-addon1" style="border-radius: 10px; height: 40px; border: solid 1px gray;">
              <div class="col-3">
                <b>Ngày bắt đầu</b>
                <input class="ms-2" type="date" [(ngModel)]="start">
              </div>

              <div class="col-3">
                <b>Ngày kết thúc</b>
                <input class="ms-2" type="date" [(ngModel)]="end">
              </div>
              <div class="col-2" style="margin-top: 18px;">
                <button class=" btn btn-success " (click)="timkiem()">Tìm kiếm</button>
              </div>
            </div>



        </div>

        <div class="col-12 text-center">

          <table class="table table-hover table-responsive mt-2" style="height: 50px ; font-size: 14px">
            <thead>
            <tr>
              <th>Stt</th>
              <th>Mã đơn hàng</th>
              <th>Người đặt</th>
              <th>Ngày đặt</th>
              <th>Giá</th>
              <th>Địa chỉ</th>

              <th>Ghi chú</th>
              <th>Trạng thái</th>
              <th>Phí giao hàng</th>
              <th>Kênh</th>
              <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of orderdata | paginate: { itemsPerPage: 10, currentPage: p },let i = index">
              <td>{{i+1}}</td>
              <td>{{item.id}}</td>
              <span *ngIf="item.nameinfo!=null">
                <td>{{item.nameinfo}}<br>
                 ({{item.sdtinfo}})
              </td>
              </span>
              <span *ngIf="item.nameCustomer!=null">
                  <td>{{item.nameCustomer}}<br>
                ({{item.sdtCustomer}})
              </td>
              </span>
              <span *ngIf="item.nameinfo==null&&item.nameCustomer==null">
                 <th>Khách lẻ </th>
              </span>

              <td>{{item.create_date| date:'dd-MM-yyyy '}}</td>
              <td>{{item.price| currency :'VND'}}</td>
              <span *ngIf="item.addressinfo!=null">
                 <th>{{item.addressinfo}}</th>
              </span>
              <span *ngIf="item.addresscustomer!=null">
                 <th>{{item.addresscustomer}}</th>
              </span>
              <span *ngIf="item.addressinfo==null&&item.addresscustomer==null">
                 <th>Khách lẻ </th>
              </span>

              <td>{{item.note}}</td>
              <td>
              <span *ngIf="item.status ==0">
                <a class="btn-dark "
                   style="border-radius: 5px; padding: 10px; font-size: 12px; color: white;background-color:orange">{{item.statusName}}</a>
              </span>
                <span *ngIf="item.status ==1">
                <a class="btn-dark "
                   style="border-radius: 5px; padding: 10px; font-size: 12px; color: white;background-color:#0dcaf0">{{item.statusName}}</a>
              </span>
                <span *ngIf="item.status ==2">
                <a class="btn-dark "
                   style="border-radius: 5px;padding: 10px; font-size: 12px; color: white;background-color:#0d6efd;">{{item.statusName}}</a>
              </span>
                <span *ngIf="item.status ==3">
                <a class="btn-dark "
                   style="border-radius: 5px;padding: 10px; font-size: 12px; color: white;background-color:#70bf73">{{item.statusName}}</a>
              </span>
                <span *ngIf="item.status ==4">
                <a class="btn-dark "
                   style="border-radius: 5px;padding: 10px; font-size: 12px; color: white;background-color:red">{{item.statusName}}</a>
              </span>
                <span *ngIf="item.status ==7">
                <a class="btn-dark "
                   style="border-radius: 5px;padding: 10px; font-size: 12px; color: white;background-color:#dadbdf">{{item.statusName}}</a>
              </span>
              </td>
              <th>{{item.ship| currency :'VND'}}</th>
              <th>{{item.kenhName}}</th>
              <td>
                <a class="view" title="Chi tiết" data-toggle="tooltip" routerLink="/order/orderdetail/{{item.id}}"><i
                  class="material-icons" style="color: gray;">visibility</i></a>

              </td>
            </tr>
            </tbody>
          </table>

          <div style="margin-bottom: 100px;float: right;">
            <pagination-controls class="mr-3" (pageChange)="p= $event"></pagination-controls>
          </div>
        </div>


      </div>

    </div>

    <div class="mb-5">
      <ng-template #content>
        <div>

          <a class=" btn-danger"
             style="background-color: orangered;margin-right :5px;border-radius: 5px;padding: 10px;">Yêu
            thích +</a>
          <b>Săn tìm hàng độc</b>
          <button type="submit"
                  style="height: 32px ; color: white; margin-left :5px ;background-color: orangered;border: none;border-radius: 5px;">
            <i class="material-icons">forum</i><b style="padding:10px ;">Chat</b></button>
          <i style="float: right;color: #0dcaf0"></i>{{this.statusName}}
          <i class="material-icons " style="float: right; color: #0dcaf0">local_shipping</i>
          <form class="mt-3">
            <div>
              <div *ngFor=" let item of Orderdata">
                <div>
                  <img src="https://iweb.tatthanh.com.vn/pic/12/news/cach-khu-mui-hoi-giay-da-bong.jpg"
                       style="float: left ; width: 250px; margin-right: 5px;border-style: groove ; ">
                </div>
                <div>
                  <label>{{item.productName}}</label>
                  <br>
                  <label>Phân loại hàng : Danh mục :{{item.category_name}}-Hãng : {{item.brand_name}} </label>
                  <br>
                  <label> x{{item.quantity}}</label>
                  <label style="color: orangered">
                    <del style="font-size: 14px; color: #5d6c85 "> ₫1.000.000</del>
                    ₫{{item.price}}</label>
                </div>


              </div>
            </div>
            <div class="button-bot">
              <button color="warn" style="margin-bottom: 200px;">Close</button>
              <button class="btn btn-info" type="submit" color="primary">Ok</button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>

  </div>

</div>
