<div class="container mt-5 ">
  <div class="row ">
    <h2>Danh sách </h2>
    <hr>
    <div class="row">

      <div class="col-2">
        <select class="form-select " aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="col-10">

        <input type="text" class="col-9 m-md-3" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">


        <button class="col-2 btn btn-danger">Tìm kiếm</button>
      </div>


    </div>
    <div class="col-12 table-responsive" style="border-radius: 15px; height: auto">

      <table class="table table-bordered  table-hover mt-2" style="height: 50px ; font-size: 14px">
        <thead class="table-dark">
        <tr>
          <th>STT</th>
          <th>Thao tác</th>

          <th>Người đặt</th>
          <th>Ngày đặt</th>
          <th>Giá</th>
          <th>Địa chỉ</th>
          <th>Hình thức thanh toán</th>

          <th>Ghi chú</th>
          <th>Trạng thái</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of orderdata" let index>

          <td>{{item.id}}</td>
          <td>
            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            <a class="add" title="Add" data-toggle="tooltip" ><i
              class="material-icons">&#xE03B;</i></a>
          </td>
          <td>{{item.name_acount}}</td>
          <td>{{item.create_date}}</td>
          <td>{{item.price}}</td>
          <th>Đang phát triển</th>
          <th><a class="btn-dark " style="border-radius: 5px; font-size: 12px; color: white;background-color:blue">Đang
            phát triển</a></th>
          <td>{{item.note}}</td>
          <td><a class="btn-dark "
                 style="border-radius: 5px; font-size: 12px; color: white;background-color:orangered">{{item.statusName}}</a>
          </td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>
</div>





