<div style="overflow-x: hidden;">
<div class="" style="display: block;">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-md-6 col-lg-4 col-xl-2">
        <aside
          class="sidenav navbar navbar-vertical navbar-expand-xs fixed-start"
          id="sidenav-main"
          style="margin-left: 1px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
          <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
              aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
              target="_blank">
              <img src="./assets/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo"
                style="border-radius: 7px;">
              <span class="ms-1 font-weight-bold text-white">Control Dashboard</span>
            </a>
          </div>
          <hr class="horizontal light mt-0 mb-2">

          <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/thongke">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">align_vertical_bottom</i>
                  </div>

                  <span class="nav-link-text ms-1">Thống Kê</span>
                </a>
              </li>


              <li class="nav-item">
                <a class="nav-link text-white " [routerLink]="['/order/tatca']">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">receipt_long</i>
                  </div>

                  <span class="nav-link-text ms-1">Quản lý đơn hàng</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/category">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">category</i>
                  </div>

                  <span class="nav-link-text ms-1">Danh mục</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/brand">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">event_note</i>
                  </div>

                  <span class="nav-link-text ms-1">Hãng </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/tao-don-hang">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">post_add</i>
                  </div>

                  <span class="nav-link-text ms-1">Tạo Đơn Hàng </span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/product">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                    <i class="material-icons opacity-10">inventory</i>
                  </div>

                  <span class="nav-link-text ms-1">Sản phẩm</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/khuyenmai">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                    <i class="material-icons opacity-10">electric_bolt</i>
                  </div>

                  <span class="nav-link-text ms-1">Khuyến mại</span>
                </a>
              </li>
              <li class="nav-item">

                <a class="nav-link text-white " routerLink="/hoadoncho">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                    <i class="material-icons opacity-10">sd_card_alert</i>
                  </div>

                  <span class="nav-link-text ms-1">Hóa đơn nháp</span>
                </a>
              </li>



            </ul>
          </div>

          <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            <div class="mx-3">
              <a class="btn bg-gradient-primary mt-4 w-100"
                href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Eternal
                FE Admin</a>
            </div>

          </div>

        </aside>
      </div>
      <!-- <div class="col-md-11 col-lg-8 col-xl-7 offset-xl-1">
        <router-outlet></router-outlet>
      </div> -->
    </div>
  </div>
  <!--  <div-->
  <!--    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
  <!--    &lt;!&ndash; Copyright &ndash;&gt;-->
  <!--    <div class="text-white mb-3 mb-md-0">-->
  <!--      UD_22-->
  <!--    </div>-->
  <!--    &lt;!&ndash; Copyright &ndash;&gt;-->
  <!--  </div>-->
</div>

<div style="overflow-x: hidden;">
<h3 style="margin-left: 295px;">Chi tiết đơn hàng của {{order.name_acount}}</h3>
<div style="float: right;display: flex;">
  <h6>Tình trạng đơn hàng:</h6>
  <h6><i style="color:#0dcaf0">{{order.statusName}}</i></h6>

</div>
<div style="margin-bottom: 30px;display: flex; margin-top: 15px;margin-left: 295px;">
  <span *ngIf="order.status ==0">
    <button class="btn btn-success" (click)="openmadal(content,'1')">Xác nhận đơn hàng</button>
  </span>
  <span *ngIf="order.status ==0 || order.status ==1 || order.status ==2">
    <button class="btn btn-danger ms-3" (click)="openmadal(content,'4')">Hủy đơn hàng</button>
  </span>
  <span *ngIf="order.status ==1">
    <button class="btn btn-success ms-3" (click)="openmadal(content,'2')">Giao hàng</button>
  </span>
  <span *ngIf="order.status ==2">
    <button class="btn btn-success ms-3" (click)="openmadal(content,'3')">Hoàn thành</button>
  </span>
  <span>
    <button class="btn btn-success ms-3" (click)="openmodaltimeline(timeline)">Chi tiết</button>
  </span>
  <br>
  <span *ngIf="order.status ==1">
    <button (click)="pdfphieugiaohang(order.id)" class="btn btn-warning ms-3">In phiếu giao <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
    </svg></button>
  </span>
</div>
<div class="card" style="margin-left: 295px;">
  <h5 class="card-title p-3">Thông tin khách hàng</h5>
  <div class="card-body">
    <div class="row">
      <div class=" col-6">
        <p>Thông tin cơ bản </p>
        <div class="card " style="height: 200px;background-color: #dadbdf">
          <div class="row">
            <div class="col-6">
              <label>Tên khách hàng</label><br>
              <label><b>{{order.name_acount}}</b></label>
              <br>
              <label>Email</label><br>
              <label><b>{{order.email}}</b></label>
              <br>

              <label>Số điện thoai</label><br>
              <label><b>{{order.sdt}}</b></label>
            </div>
            <div class="col-6">
              <label>Mã khách hàng</label><br>
              <label><b>MKH:KH-00000{{order.account_id}}</b></label><br>

              <label>Địa chỉ</label><br>
              <label><b>{{order.address}}</b></label>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-6">
        <p>Địa chỉ giao hàng </p>
        <div class="card" style="height: 200px;background-color: #dadbdf">
          <div class="row">
            <div class="col-6">
              <label>Địa chỉ chi tiết:</label>
              <label><b>{{order.addressinfo}}</b></label>
              <br>
              <label>Số điện thoại</label><br>
              <label><b>{{order.sdtinfo}}</b></label>
            </div>
            <div class="col-6">
              <label>Tên người nhận</label><br>
              <label><b>{{order.nameinfo}}</b></label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row mt-3" style="margin-left: 295px;">
  <label class="col-1">Ảnh</label>
  <label class="col-2 ms-3">Tên sản phẩm</label>
  <label class="col-1">Số lượng</label>
  <label class="col-1">Giá tiền</label>
  <label class="col-2">Tình trạng</label>
  <label class="col-2">Đơn vị vận chuyển</label>
  <label class="col-2">Thao tác</label>

</div>
<div style="height: auto;padding-bottom: 100px;margin-left: 295px;">
  <div class="card mb-2" *ngFor="let item of orderdetail">
    <!-- <div class="row mt-2">
      <label class="col-8">Danh mục sản phẩm :{{item.category_name}}</label>
      <label class="col-3">Hãng:{{item.brand_name}}</label>
    </div> -->
    <!-- <hr> -->
    <div class="row ">

      <div class=" col-1 m-2">
        <img src="https://enternalproduct.s3.ap-southeast-1.amazonaws.com/{{item.photo}}" alt=""
          width="60px" height="80">
      </div>
      <label class="col-2 mt-4"><b>{{item.productName}}</b> </label>

      <label class="col-1 mt-4">x{{item.quantity}}</label>
      <label  class="col-1 mt-4"><b>{{item.price}}</b></label>
      <label class="col-2 mt-4"><b>{{item.statusName}}</b></label>
      <label class="col-2 mt-4">Đơn vị vận chuyển nhanh</label>
      <div class="col-1 mt-4">
        <span *ngIf="order.status ==0">
          <button class="btn btn-danger" (click)="delete(item.id)"> Hủy</button>
        </span>

      </div>

    </div>
  </div>
</div>
<div>
  <ng-template #content>
    <div>
      <h4>Xác nhận</h4>
      <label for="" style="display: block;">Ghi chú:</label>
      <textarea [(ngModel)]="description">

      </textarea>
      <br>
      <button class="btn btn-primary" (click)="updatetrangthai(order.id)">OK</button>
    </div>
    </ng-template>
</div>

<!--timeline-->
<div >
  <ng-template #timeline>
    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Thời gian</th>
        <th scope="col">Người xác nhận</th>
        <th scope="col">Ghi chú</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listordertimeline">
        <th scope="row">icon ơ đây +{{item.type}}</th>
        <td>{{item.create_date}}</td>
        <td>{{item.account_name}}</td>
        <td>{{item.description}}</td>
      </tr>

      </tbody>
    </table>
  </ng-template>

</div>
</div>

</div>
