


<h3 style="margin-left: 295px;">Chi tiết đơn hàng của {{order.name_acount}}</h3>
<div style="float: right;display: flex;">
  <h6>Tình trạng đơn hàng:</h6>
  <h6><i style="color:#0dcaf0">{{order.statusName}}</i></h6>

</div>
<div style="margin-bottom: 30px;display: flex; margin-top: 15px;margin-left: 295px;">
  <span *ngIf="order.status ==0">
    <button class="btn btn-success" (click)="openmadal(content,'1')">Xác nhận đơn hàng</button>
  </span>
  <span *ngIf="order.status ==0 || order.status ==1 || order.status ==2">
    <button class="btn btn-danger ms-3" (click)="openmadal(content,'4')">Hủy đơn hàng</button>
  </span>
  <span *ngIf="order.status ==1">
    <button class="btn btn-success ms-3" (click)="openmadal(content,'2')">Giao hàng</button>
  </span>
  <span *ngIf="order.status ==2">
    <button class="btn btn-success ms-3" (click)="openmadal(content,'3')">Hoàn thành</button>
  </span>
  <span>
    <button class="btn btn-success ms-3" (click)="openmodaltimeline(timeline)">Chi tiết</button>
  </span>
  <br>
  <span *ngIf="order.status ==1">
    <button (click)="pdfphieugiaohang(order.id)" class="btn btn-warning ms-3">In phiếu giao <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
    </svg></button>
  </span>
</div>
<div class="card" style="margin-left: 295px;">
  <h5 class="card-title p-3">Thông tin khách hàng</h5>
  <div class="card-body">
    <div class="row">
      <div class=" col-6">
        <p>Thông tin cơ bản </p>
        <div class="card " style="height: 200px;background-color: #dadbdf">
          <div class="row">
            <div class="col-6">
              <label>Tên khách hàng</label><br>
              <label><b>{{order.name_acount}}</b></label>
              <br>
              <label>Email</label><br>
              <label><b>{{order.email}}</b></label>
              <br>

              <label>Số điện thoai</label><br>
              <label><b>{{order.sdt}}</b></label>
            </div>
            <div class="col-6">
              <label>Mã khách hàng</label><br>
              <label><b>MKH:KH-00000{{order.account_id}}</b></label><br>

              <label>Địa chỉ</label><br>
              <label><b>{{order.address}}</b></label>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-6">
        <p>Địa chỉ giao hàng </p>
        <div class="card" style="height: 200px;background-color: #dadbdf">
          <div class="row">
            <div class="col-6">
              <label>Địa chỉ chi tiết:</label>
              <label><b>{{order.addressinfo}}</b></label>
              <br>
              <label>Số điện thoại</label><br>
              <label><b>{{order.sdtinfo}}</b></label>
            </div>
            <div class="col-6">
              <label>Tên người nhận</label><br>
              <label><b>{{order.nameinfo}}</b></label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row mt-3" style="margin-left: 295px;">
  <label class="col-1">Ảnh</label>
  <label class="col-2 ms-3">Tên sản phẩm</label>
  <label class="col-1">Số lượng</label>
  <label class="col-1">Giá tiền</label>
  <label class="col-2">Tình trạng</label>
  <label class="col-2">Đơn vị vận chuyển</label>
  <label class="col-2">Thao tác</label>

</div>
<div style="height: auto;padding-bottom: 100px;margin-left: 295px;">
  <div class="card mb-2" *ngFor="let item of orderdetail">
    <!-- <div class="row mt-2">
      <label class="col-8">Danh mục sản phẩm :{{item.category_name}}</label>
      <label class="col-3">Hãng:{{item.brand_name}}</label>
    </div> -->
    <!-- <hr> -->
    <div class="row ">

      <div class=" col-1 m-2">
        <img src="https://enternalproduct.s3.ap-southeast-1.amazonaws.com/{{item.photo}}" alt=""
          width="60px" height="80">
      </div>
      <label class="col-2 mt-4"><b>{{item.productName}}</b> </label>

      <label class="col-1 mt-4">x{{item.quantity}}</label>
      <label  class="col-1 mt-4"><b>{{item.price}}</b></label>
      <label class="col-2 mt-4"><b>{{item.statusName}}</b></label>
      <label class="col-2 mt-4">Đơn vị vận chuyển nhanh</label>
      <div class="col-1 mt-4">
        <span *ngIf="order.status ==0">
          <button class="btn btn-danger" (click)="delete(item.id)"> Hủy</button>
        </span>

      </div>

    </div>
  </div>
</div>
<ng-template #content>
<div>
  <h4>Xác nhận</h4>
  <textarea [(ngModel)]="description">

  </textarea>
  <button (click)="updatetrangthai(order.id)">ok</button>
</div>
</ng-template>

<!--timeline-->
<ng-template #timeline>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Thời gian</th>
      <th scope="col">Người xác nhận</th>
      <th scope="col">Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listordertimeline">
      <th scope="row">icon ơ đây +{{item.type}}</th>
      <td>{{item.create_date}}</td>
      <td>{{item.account_name}}</td>
      <td>{{item.description}}</td>
    </tr>

    </tbody>
  </table>
</ng-template>
