<div>
  <h3>Thông tin đơn hàng</h3><br>
  <h5>Vui lòng cung cấp thông tin về đơn hàng sẽ tạo</h5>
</div>

<div class="row" style="margin: 20px">
  <div class="col-7">
    <div class="card p-4 ">

      <h5>Sản phẩm </h5>
      <hr>
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control"/>
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>

      </div>

    </div>
    <div class="card p-4" style="margin-top: 40px">
      <h5>Thanh toán</h5>
      <hr>
      <div class="row">
        <div class="col-5">
          <h5>Ghi chú đơn hàng</h5>
          <input type="text" placeholder="Ghi chú điều mk muốn ">
        </div>
        <div class="col-5">
          <label>Số lượng sản phẩm</label><br>
          <label>Tổng tiền hàng </label><br>
          <label>Giảm giá</label><br>
          <label>Tạm tính</label><br>
          <label>Tiền khách đưa</label><br>
        </div>
        <div class="col-1">
          <label>0</label><br>
          <label>0 </label><br>
          <label>0</label><br>
          <label>0 </label><br>
          <label>0</label><br>

        </div>
        <hr>

        <div>
          <button>
            Thanh toán
          </button>
          <button>Đã thanh toán</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4" style="margin-left: 20px">

    <div class="card p-4">
      <h5>Kênh bán hàng</h5>
      <hr>
      <select class="form-select " aria-label="Default select example">
        <option value="0">Website</option>
        <option selected value="1">Tại quầy</option>
        <option value="2">Page</option>
      </select>
    </div>

    <div class="card p-4 " style="margin-top: 53px">
      <h5>Khách hàng</h5>
      <a style="color: #0d6efd" (click)="openLg(content)">Tạo khách hàng</a>
      <hr>
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form2" class="form-control"/>
          <label class="form-label" for="form2">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>

    </div>
  </div>
</div>


<ng-template #content>
  <div class="">
<h5>Tạo khách hàng</h5>
    <hr>
    <form>
      <div class="form-group mr-2">
        <label  for="inputemail">Họ và tên</label>
        <input class="form-control" type="text" id="inputemail">
      </div>
    </form>


  </div>
</ng-template>


