<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="card mt-3" style="margin-left: 270px;">
  <div class="row">
    <form [formGroup]="brandFrom" (ngSubmit)="savebrand()">
      <div class="row" style="text-align: center;">
        <h2>Hãng Giày</h2>
      </div>

      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" style="border:solid 1px gray;" />
            <span *ngIf="name && name.invalid && name.touched" class="error">Please enter name</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-3 col-lg-2">
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </div>
        </div>
        <div class="col-lg-3">
          <br>
          <span class={{messageclass}}>{{message}}</span>
        </div>
      </div>

    </form>
  </div>
  <div class="row mx-2">
    <form>
      <!--      <ng-template #content1 let-modal>-->
      <div class="row">
        <h2 class="container-fluid text-center lead fw-normal" style="color: #3c763d">Tìm kiếm Hãng</h2>
        <!--          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
      </div>
      <div class="row">

        <div class="row ml-3">
          <div class="col-6">

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Mã hãng : </label>
              <div class="col-md-10">
                <input class="form-control" type="text" formControlName="keyid" style="border:solid 1px gray;">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Tên hãng: </label>
              <div class="col-md-10">
                <input class="form-control" type="text" formControlName="keyname" style="border:solid 1px gray;">
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="row ml-3">
        <div class="d-flex mt-2">
          <button type="button" class="btn btn-success me-2" type="submit"> Tìm kiếm</button>

        </div>
      </div>
      <!--      </ng-template>-->

    </form>
  </div>
</div>
<div class="card mt-3" style="margin-left: 270px;">
  <table class="table table-bordered  table-responsive table-hover mt-2" style="height: 50px ; font-size: 14px">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of branData | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{item.id}}}</td>
        <td>{{item.name}}</td>
        <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="mr-3 mb-8" (pageChange)="p= $event"></pagination-controls>
</div>
