<app-navbar></app-navbar>
<app-side-bar></app-side-bar>
<div class="card" style="margin-left: 260px;">
  <div class="row mx-2">
    <form [formGroup]="formSearch">
      <!--      <ng-template #content1 let-modal>-->
      <div class="row">
        <h2 class="container-fluid text-center lead fw-normal" style="color: #3c763d">Tìm kiếm sản phẩm</h2>
        <!--          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>-->
      </div>
      <div class="row">

        <div class="row ml-3">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Tên sản phẩm: </label>
              <div class="col-md-10">
                <input class="form-control" type="text" formControlName="name" style="border: solid 1px gray;">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Giá bán:</label>
              <div class="col-md-10">
                <input class="form-control" type="text" formControlName="outputprice" style="border: solid 1px gray;">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Đinh giày: </label>
              <div class="col-md-10 mt-2">
                <div>
                  <select class="form-control" formControlName="category" style="border: solid 1px gray;">
                    <option *ngFor="let item of dataSole" [value]="item.id">{{item.name}}
                    </option>

                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Danh Mục: </label>
              <div class="col-md-10 mt-2">
                <div>
                  <select class="form-control" formControlName="category" style="border: solid 1px gray;">
                    <option *ngFor="let item of dataCate" [value]="item.id">{{item.name}}
                    </option>

                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Hãng: </label>
              <div class="col-md-10 mt-2">
                <div>
                  <select class="form-control" formControlName="hang" style="border: solid 1px gray;">
                    <option *ngFor="let item of dataBrand" [value]="item.id">{{item.name}}
                    </option>

                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label">Dòng giày: </label>
              <div class="col-md-10 mt-2">
                <div>
                  <select class="form-control" formControlName="category" style="border: solid 1px gray;">
                    <option *ngFor="let item of dataShoeLine" [value]="item.id">{{item.name}}
                    </option>

                  </select>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="row ml-3">
        <div>
          <button type="button" class="btn btn-success me-2" type="submit" (click)="onSubmitSearch()"> Tìm kiếm</button>
          <button class="btn btn-primary  ml-1 " (click)="openLg(content)">Thêm mới</button>
        </div>
      </div>
      <!--      </ng-template>-->

    </form>
  </div>
</div>
<div class="card mt-3" style="margin-left: 260px;">
  <table class="table table-hover table-responsive table-bordered">
    <thead>
    <tr>
      <th class="text-center" scope="col" (click)="sortByValue('name')">Tên sản phẩm</th>
      <th class="text-center" scope="col" (click)="sortByValue('outputprice')">Giá bán</th>
      <th class="text-center" scope="col" (click)="sortByValue('category')">Danh mục</th>
      <th class="text-center" scope="col" (click)="sortByValue('hang')">Hãng</th>
      <th class="text-center" scope="col" (click)="sortByValue('hang')">Loại đinh</th>
      <th class="text-center" scope="col" (click)="sortByValue('hang')">Dòng giày</th>
      <th class="text-center" scope="col">Ảnh</th>
    </tr>
    </thead>
    <tbody *ngIf="datas">
    <tr *ngFor="let item of datas; let i = index" (click)="infoProduct(item.id,content)">
      <td>{{item.name}}</td>
      <td>{{item.outputprice}}</td>
      <td *ngIf="item.category">{{item.category.name}}</td>
      <td *ngIf="item.hang">{{item.hang.name}}</td>
      <td *ngIf="item.sole">{{item.sole.name}}</td>
      <td *ngIf="item.shoeLine">{{item.shoeLine.name}}</td>
      <td>{{item.photo}} </td>
    </tr>
    </tbody>
  </table>

  <div>


    <!--              Pagination                -->
    <nav *ngIf="Page" class="mr-3 mb-8" aria-label="...">
      <ul class="pagination justify-content-end">
        <select #selectSize (change)="pageItem(selectSize.value)" class="page-items mr-1 me-3">
          <option selected>5</option>
          <option>10</option>
          <option>15</option>
        </select>
        <li class="page-item " [ngClass]="indexPage == 0?'disabled':''">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-caret-left-fill page-link" viewBox="0 0 16 16" (click)="preNextPage('pre')">
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg>
        </li>

        <li *ngFor="let pageNumber of [].constructor(Page['totalPages']);let i = index"
            class="page-item" [ngClass]="indexPage == i?'active':''">
          <a style="color:black ;" class="page-link" (click)="pagination(i)">{{i + 1}}</a>
        </li>

        <li class="page-item" [ngClass]="(Page['totalPages'] - 1) === indexPage?'disabled':''">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-caret-right-fill page-link" viewBox="0 0 16 16">
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
              (click)="preNextPage('next')"/>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</div>

<form novalidate [formGroup]="formAdd" enctype="multipart/form-data">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="container-fluid text-center lead fw-normal" style="color: #3c763d">{{message}} sản phẩm</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-7">
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Tên sản phẩm: </label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="name" style="border: solid 1px gray;">
              <small class="col alert text-danger" role="alert"
                     *ngIf="formAdd.get('name')?.errors?.required && formAdd.get('name')?.touched">
                Tên sản phẩm không được để trống !
              </small>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 col-form-label">Giá bán: </label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="outputprice" style="border: solid 1px gray;">
              <small class="col alert text-danger" role="alert"
                     *ngIf="formAdd.get('outputprice')?.errors?.required && formAdd.get('outputprice')?.touched">
                Giá bán không được để trống !
              </small>

              <small class="col alert text-danger" role="alert"
                     *ngIf="formAdd.get('outputprice')?.errors?.outputprice && formAdd.get('outputprice')?.touched">
                Định dạng giá bán chưa đúng !
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Danh mục: </label>
            <div class="col-md-10 mt-2">
              <div>
                <select class="form-control" formControlName="category" style="border: solid 1px gray;">
                  <option *ngFor="let item of dataCate" [value]="item.id">{{item.name}}
                  </option>

                </select>

                <small class="col alert text-danger" role="alert"
                       *ngIf="formAdd.get('category')?.errors?.required && formAdd.get('category')?.touched">
                  Danh mục chưa được chọn !
                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 col-form-label">Hãng: </label>
            <div class="col-md-10 mt-2">
              <div>
                <select class="form-control" formControlName="hang" style="border: solid 1px gray;">
                  <option *ngFor="let item of dataBrand" [value]="item.id">{{item.name}}
                  </option>

                </select>

                <small class="col alert text-danger" role="alert"
                       *ngIf="formAdd.get('hang')?.errors?.required && formAdd.get('hang')?.touched">
                  Hãng chưa được chọn !
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label">Loại đinh giày: </label>
            <div class="col-md-10 mt-2">
              <div>
                <select class="form-control" formControlName="sole" style="border: solid 1px gray;">
                  <option *ngFor="let item of dataSole" [value]="item.id">{{item.name}}
                  </option>

                </select>

                <small class="col alert text-danger" role="alert"
                       *ngIf="formAdd.get('sole')?.errors?.required && formAdd.get('sole')?.touched">
                  Loại đinh giày chưa được chọn !
                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 col-form-label"> Dòng giày: </label>
            <div class="col-md-10 mt-2">
              <div>
                <select class="form-control" formControlName="shoeLine" style="border: solid 1px gray;">
                  <option *ngFor="let item of dataShoeLine" [value]="item.id">{{item.name}}
                  </option>

                </select>

                <small class="col alert text-danger" role="alert"
                       *ngIf="formAdd.get('shoeLine')?.errors?.required && formAdd.get('shoeLine')?.touched">
                  Dòng giày chưa được chọn !
                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label">Tình trạng :</label>
            <div class="col-md-10 mt-2 ">
              <div class="form-check form-check-inline col-12 col-sm-12">
                <input class="form-check-input" formControlName="status" [value]="1" type="radio"
                       name="readyOnProject" id="inlineRadio1-readyOnProject">
                <label class="form-check-label col-12" for="inlineRadio1-readyOnProject">Đang kinh doanh</label>
              </div>

              <div class="form-check form-check-inline col-12 col-sm-12">
                <input class="form-check-input" formControlName="status" [value]="0" type="radio"
                       name="readyOnProject" id="inlineRadio2-readyOnProject">
                <label class="form-check-label col-12" for="inlineRadio2-readyOnProject">Ngừng kinh doanh</label>
              </div>
              <small class="col alert text-danger" role="alert"
                     *ngIf="formAdd.get('status')?.errors?.required && formAdd.get('status')?.touched">
                Tình trạng chưa được chọn  !
              </small>
            </div>
          </div>
          <div class="col-md-10 ">
            <label for="formFile" class="form-label">Ảnh</label>
            <input type="text" formControlName="" value="{{product.photo}}" class="form-control">
            <input class="form-control" formControlName="Photo" type="file" accept="image/*" id="formFile"
                   (change)="onFileSelected($event)">
          </div>


          <div *ngIf="!hiddeen" class="form-group row">
            <label class="col-md-4 col-form-label">Ngày tạo: </label>
            <div class="col-md-10">
              <input [disabled]="true" class="form-control" type="text" formControlName="createDate">
            </div>
          </div>

<!--          <div *ngIf="!hiddeen" class="form-group row">-->
<!--            <label class="col-md-4 col-form-label">Ngày cập nhật: </label>-->
<!--            <div class="col-md-10">-->
<!--              <input [disabled]="true" class="form-control" type="text" formControlName="updatedate">-->
<!--            </div>-->
<!--          </div>-->

        </div>


        <div class="col-5">
          <div div class="bg-light rounded h-100 p-4 align-items-center justify-content-center mx-0">
            <img class="rounded mx-auto d-block" alt="none" style="width: 200px;height: 200px;"
                 src="https://enternalproduct.s3.ap-southeast-1.amazonaws.com/{{product.photo?product.photo:filename}}">
          </div>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <div>
        <button [hidden]="!hiddeen" type="button" class="btn btn-success" type="submit" (click)="create()">Thêm mới
        </button>
      </div>
      <div *ngIf="!hiddeen">
        <button type="button" class="btn btn-success" type="submit" (click)="update()">Cập nhật</button>
      </div>
      <div *ngIf="!hiddeen">
        <button type="button" class="btn btn-danger" type="submit" (click)="delete()">Xóa</button>
      </div>
    </div>
  </ng-template>
</form>
