<div  *ngIf="loading">
  <div class="loader" >
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
</div>

  <div class="" style="background-image: url(/assets/img/banner03.png);height: 700px;overflow-x: hidden;">
    <div class="row">
      <div class="col-7">
        <p>sdfjhsdbkjaf</p>
      </div>
      <div class="col-4" style="margin-top: 120px;margin-right: 100px;">
        <div class="card p-3">
          <form novalidate  [formGroup]="formLogin">
            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2" style="font-weight: bold;">Tên đăng nhập:</label>
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" formControlName="userName" />
              <small class="col alert text-danger col-12" role="alert"
                     *ngIf="formLogin.get('userName')?.errors?.required && formLogin.get('userName')?.touched">
                Tên đăng nhập không được để trống !
              </small>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2" style="font-weight: bold;">Mật khẩu:</label>
              <input  formControlName="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
              <small class="col alert text-danger col-12" role="alert"
                     *ngIf="formLogin.get('password')?.errors?.required && formLogin.get('password')?.touched">
                Mật khẩu không được để trống !
              </small>
              <small class="col alert text-danger col-12r" role="alert"
                     *ngIf="formLogin.get('password')?.errors?.pattern && formLogin.get('password')?.touched">
                Mật khẩu phải có 8 ký tự trở lên, bao gồm cả chữ, cả số và cả kí tự đặc biệt !
              </small>
            </div>
            <div class="form-check d-flex mb-4">
              <a routerLink="/forgot-pass">Quên mật khẩu</a>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-lg btn-block text-center" type="submit"  [disabled]="!formLogin.valid" (click)="onSubmit()">Đăng nhập</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

