

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <!-- <a class="navbar-brand mt-2 mt-lg-0 fw-bold" href="#">
        Admin Page Control
      </a> -->
      <img src="./assets/img/logo.png" alt="" style="width: 20%; height: 20%;">
      <!-- Left links -->
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <!-- <div class="d-flex align-items-center"> -->
    <!-- Avatar -->
    <div class="nav-item dropdown">
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuAvatar"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
          class="rounded-circle"
          height="25"
          alt="Black and White Portrait of a Man"
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuAvatar"
      >
        <li>
          <a class="dropdown-item" href="#">My profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Settings</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Logout</a>
        </li>
      </ul>
    </div>
    <div class="nav-item mt-3 ms-2"><p>Hello Username!</p></div>
    <!-- </div> -->
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

<div class="content-center" style="padding-left: 300px; padding-right: 20px; display: block;">
  <div class="vh-100 d-inline">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-4 col-xl-2">
          <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl fixed-start  bg-gradient-dark mb-5" id="sidenav-main" style="margin-top: 104px;">
            <div class="sidenav-header">
              <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
              <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
                <img src="./assets/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo" style="border-radius: 7px;">
                <span class="ms-1 font-weight-bold text-white">Control Dashboard</span>
              </a>
            </div>
            <hr class="horizontal light mt-0 mb-2">

            <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link text-white " [routerLink]="['/dashboard']">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">dashboard</i>
                    </div>

                    <span class="nav-link-text ms-1">Thống Kê</span>
                  </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link text-white "[routerLink]="['/order/tatca']">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">receipt_long</i>
                    </div>

                    <span class="nav-link-text ms-1">Quản lý đơn hàng</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white " routerLink="/category">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">category</i>
                    </div>

                    <span class="nav-link-text ms-1">Danh mục</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " routerLink="/brand">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">receipt_long</i>
                    </div>

                    <span class="nav-link-text ms-1">Hãng </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white " routerLink="/tao-don-hang">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">receipt_long</i>
                    </div>

                    <span class="nav-link-text ms-1">Tạo Đơn Hàng </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white " routerLink="/product">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                      <i class="material-icons opacity-10">inventory</i>
                    </div>

                    <span class="nav-link-text ms-1">Sản phẩm</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white " routerLink="/thongke">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                      <i class="material-icons opacity-10">inventory</i>
                    </div>

                    <span class="nav-link-text ms-1">Thống kê</span>
                  </a>
                </li>
                <li class="nav-item">



                  <a class="nav-link text-white " routerLink="/khuyenmai">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                      <i class="material-icons opacity-10">inventory</i>
                    </div>

                    <span class="nav-link-text ms-1">Khuyến mại</span>
                  </a>
                </li>
                <li class="nav-item">

                  <a class="nav-link text-white " routerLink="/hoadoncho">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                      <i class="material-icons opacity-10">inventory</i>
                    </div>

                    <span class="nav-link-text ms-1">Hóa đơn nháp</span>
                  </a>
                </li>



                <li class="nav-item mt-3">
                  <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account</h6>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white " href="./profile.html">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">person</i>
                    </div>

                    <span class="nav-link-text ms-1">Profile</span>
                  </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link text-white " href="./sign-in.html">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">login</i>
                    </div>

                    <span class="nav-link-text ms-1">Sign In</span>
                  </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link text-white " href="./sign-up.html">

                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">assignment</i>
                    </div>

                    <span class="nav-link-text ms-1">Sign Up</span>
                  </a>
                </li>

              </ul>
            </div>

            <div class="sidenav-footer position-absolute w-100 bottom-0 ">
              <div class="mx-3">
                <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Eternal FE Admin</a>
              </div>

            </div>

          </aside>
        </div>
        <!-- <div class="col-md-11 col-lg-8 col-xl-7 offset-xl-1">
          <router-outlet></router-outlet>
        </div> -->
      </div>
    </div>
    <!--  <div-->
    <!--    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
    <!--    &lt;!&ndash; Copyright &ndash;&gt;-->
    <!--    <div class="text-white mb-3 mb-md-0">-->
    <!--      UD_22-->
    <!--    </div>-->
    <!--    &lt;!&ndash; Copyright &ndash;&gt;-->
    <!--  </div>-->
  </div>
  <div>
    <router-outlet class="d-inline p-5"></router-outlet>
  </div>
</div>

<!--  <footer class="fixed-bottom bg-light text-center text-white  mt-8">-->

<!--    <div class="container">-->

<!--      <section class="">-->

<!--        <a-->
<!--          class="btn text-white btn-floating m-1"-->
<!--          style="background-color: #3b5998;"-->
<!--          href="#!"-->
<!--          role="button"-->
<!--        ><i class="fab fa-facebook-f"></i-->
<!--        ></a>-->


<!--        <a-->
<!--          class="btn text-white btn-floating m-1"-->
<!--          style="background-color: #55acee;"-->
<!--          href="#!"-->
<!--          role="button"-->
<!--        ><i class="fab fa-twitter"></i-->
<!--        ></a>-->


<!--        <a-->
<!--          class="btn text-white btn-floating m-1"-->
<!--          style="background-color: #dd4b39;"-->
<!--          href="#!"-->
<!--          role="button"-->
<!--        ><i class="fab fa-google"></i-->
<!--        ></a>-->


<!--        <a-->
<!--          class="btn text-white btn-floating m-1"-->
<!--          style="background-color: #ac2bac;"-->
<!--          href="#!"-->
<!--          role="button"-->
<!--        ><i class="fab fa-instagram"></i-->
<!--        ></a>-->


<!--        <a-->
<!--          class="btn text-white btn-floating m-1"-->
<!--          style="background-color: #0082ca;"-->
<!--          href="#!"-->
<!--          role="button"-->
<!--        ><i class="fab fa-linkedin-in"></i-->
<!--        ></a>-->

<!--        <a-->
<!--          class="btn text-white btn-floating m-1"-->
<!--          style="background-color: #333333;"-->
<!--          href="#!"-->
<!--          role="button"-->
<!--        ><i class="fab fa-github"></i-->
<!--        ></a>-->
<!--      </section>-->

<!--    </div>-->

<!--  </footer>-->


