::ng-deep ngb-modal-backdrop {
  z-index: 25 !important;
}
.table th, td {
  white-space : nowrap;
}
.filterByEmail{
  padding-left: 5px;
  border: solid 1px gray;
  height: 40px;
  margin-right: 10px;
}
