<div class=" mt-5 ">
  <div class="row ">
    <h2 class="text-center">Danh sách </h2>
    <hr>
    <div>
      <button class="btn btn-warning" style="float: right;">In phiếu giao hàng <svg xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
          <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
          <path
            d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
        </svg></button>
    </div>
    <div class="col-12 table-responsive text-center" style="border-radius: 15px; height: auto">

      <table class="table   table-hover mt-2" style="height: 50px ; font-size: 14px">
        <thead>
          <tr>

            <th>Mã đơn hàng</th>
            <th>Người đặt</th>
            <th>Ngày đặt</th>
            <th>Giá</th>
            <th>Địa chỉ</th>
            <th>Hình thức thanh toán</th>
            <th>Ghi chú</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderdata | paginate: { itemsPerPage: 10, currentPage: p }">

            <td>{{item.id}}</td>
            <td>{{item.name_acount}}</td>
            <td>{{item.create_date}}</td>
            <td>{{item.price}}</td>
            <th>{{item.address}}</th>
            <th><a class="btn-dark "
                style=" padding: 10px; border-radius: 5px; font-size: 12px; color: white;background-color:cadetblue">Đang
                phát triển</a></th>
            <td>{{item.note}}</td>
            <td><a class="btn-dark "
                style="border-radius: 5px;padding: 10px; font-size: 12px; color: white;background-color:orangered">{{item.statusName}}</a>
            </td>
            <td>

              <a class="view" title="Chi tiết" data-toggle="tooltip" routerLink="/order/orderdetail/{{item.id}}"><i
                  class="material-icons" style="color: gray;">visibility</i></a>

            </td>
          </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 100px;float: right;">
        <pagination-controls class="mr-3" (pageChange)="p= $event"></pagination-controls>
      </div>


    </div>

  </div>

</div>
