<div class="vh-100 d-inline">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-4 col-xl-2">
        <aside
          class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl fixed-start  bg-gradient-dark mb-5"
          id="sidenav-main" style="margin-top: 104px;">
          <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
              aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
              target="_blank">
              <img src="./assets/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo"
                style="border-radius: 7px;">
              <span class="ms-1 font-weight-bold text-white">Control Dashboard</span>
            </a>
          </div>
          <hr class="horizontal light mt-0 mb-2">

          <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/thongke">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">align_vertical_bottom</i>
                  </div>

                  <span class="nav-link-text ms-1">Thống Kê</span>
                </a>
              </li>


              <li class="nav-item">
                <a class="nav-link text-white " [routerLink]="['/order/tatca']">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">receipt_long</i>
                  </div>

                  <span class="nav-link-text ms-1">Quản lý đơn hàng</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/category">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">category</i>
                  </div>

                  <span class="nav-link-text ms-1">Danh mục</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/brand">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">event_note</i>
                  </div>

                  <span class="nav-link-text ms-1">Hãng </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/tao-don-hang">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">post_add</i>
                  </div>

                  <span class="nav-link-text ms-1">Tạo Đơn Hàng </span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/product">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                    <i class="material-icons opacity-10">inventory</i>
                  </div>

                  <span class="nav-link-text ms-1">Sản phẩm</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " routerLink="/khuyenmai">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                    <i class="material-icons opacity-10">electric_bolt</i>
                  </div>

                  <span class="nav-link-text ms-1">Khuyến mại</span>
                </a>
              </li>
              <li class="nav-item">

                <a class="nav-link text-white " routerLink="/hoadoncho">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">

                    <i class="material-icons opacity-10">sd_card_alert</i>
                  </div>

                  <span class="nav-link-text ms-1">Hóa đơn nháp</span>
                </a>
              </li>



              <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account</h6>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white " href="./profile.html">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">person</i>
                  </div>

                  <span class="nav-link-text ms-1">Profile</span>
                </a>
              </li>


              <li class="nav-item">
                <a class="nav-link text-white " href="./sign-in.html">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">login</i>
                  </div>

                  <span class="nav-link-text ms-1">Sign In</span>
                </a>
              </li>


              <li class="nav-item">
                <a class="nav-link text-white " href="./sign-up.html">

                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">assignment</i>
                  </div>

                  <span class="nav-link-text ms-1">Sign Up</span>
                </a>
              </li>

            </ul>
          </div>

          <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            <div class="mx-3">
              <a class="btn bg-gradient-primary mt-4 w-100"
                href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree"
                type="button">Eternal FE Admin</a>
            </div>

          </div>

        </aside>
      </div>
      <!-- <div class="col-md-11 col-lg-8 col-xl-7 offset-xl-1">
        <router-outlet></router-outlet>
      </div> -->
    </div>
  </div>
  <!--  <div-->
  <!--    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
  <!--    &lt;!&ndash; Copyright &ndash;&gt;-->
  <!--    <div class="text-white mb-3 mb-md-0">-->
  <!--      UD_22-->
  <!--    </div>-->
  <!--    &lt;!&ndash; Copyright &ndash;&gt;-->
  <!--  </div>-->
</div>
